@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
body{
  overflow-x:hidden ;
}
* {
  background: #252525;
}
h1{
    color: red;
    font-size: 50px;
    text-align: center;
}
.container{
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
}
button{
    color: white;
    border: 1px white solid;
    width: 200px;
    height: 50px;
    font-size: 2rem;
    transition: transform 0.3s ;
}
button:hover{
    transform: scale(1.2);
}
.maincontainer{
    width: 100%;
    height: 100%;
}